<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arbeitszeitrechner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Arbeitszeitrechner.Properties.Settings>
            <setting name="MontagVon" serializeAs="String">
                <value>07:00</value>
            </setting>
            <setting name="MontagBis" serializeAs="String">
                <value>14:45</value>
            </setting>
            <setting name="DienstagVon" serializeAs="String">
                <value>07:00</value>
            </setting>
            <setting name="DienstagBis" serializeAs="String">
                <value>14:45</value>
            </setting>
            <setting name="MittwochVon" serializeAs="String">
                <value>07:00</value>
            </setting>
            <setting name="MittwochBis" serializeAs="String">
                <value>14:45</value>
            </setting>
            <setting name="DonnerstagVon" serializeAs="String">
                <value>07:00</value>
            </setting>
            <setting name="DonnerstagBis" serializeAs="String">
                <value>14:45</value>
            </setting>
            <setting name="FreitagVon" serializeAs="String">
                <value>07:00</value>
            </setting>
            <setting name="FreitagBis" serializeAs="String">
                <value>14:45</value>
            </setting>
            <setting name="SamstagVon" serializeAs="String">
                <value />
            </setting>
            <setting name="SamstagBis" serializeAs="String">
                <value />
            </setting>
            <setting name="SonntagVon" serializeAs="String">
                <value />
            </setting>
            <setting name="SonntagBis" serializeAs="String">
                <value />
            </setting>
            <setting name="Pausenzeit" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="Wochenstunden" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="StandardVon" serializeAs="String">
                <value>07:00</value>
            </setting>
            <setting name="StandardBis" serializeAs="String">
                <value>14:45</value>
            </setting>
            <setting name="AnzahlArbeitstage" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PausenBeginn" serializeAs="String">
                <value>12:00</value>
            </setting>
            <setting name="BenachrichtigungAktiv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UeberschreibenAktiv" serializeAs="String">
                <value>True</value>
            </setting>
        </Arbeitszeitrechner.Properties.Settings>
    </userSettings>
</configuration>